<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Technical Assistants</title>
</head>
<body>
    <h1>Welcome to APU's Tech support</h1>
    <h3>We are here to assist you</h3>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/f5951de5-5a35-42f4-a087-f08fb487e71b/webchat/config.js" defer></script>
</body>
</html>